/* start globle*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.overlay {
    background-color: rgba(16, 41, 56, 0.9);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
/* end globle*/
/* start navbar*/
.navbar {
    padding: 0;
    background-color: #FFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    height: 55px;
}
.navbar img {
    height: 50px;
}
.navbar-light .navbar-nav .nav-link {
    color: #102938;
    margin-right: 25px;
    padding: 15px 3px;
    text-transform: capitalize;
}
.navbar-light .navbar-nav .nav-link.link {
    margin-right: 0;
}
.navbar-light .navbar-nav .active,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #E8C43A;
}
/* end navbar */
/* start about us */
.about-us {
    margin: 70px 0;
}

.about-us h2 {
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #E8C43A;
}
.about-us p {
    margin-top: 50px;
    color: #333;
}
/* end about us */
/* start about */
.about {
    background-image: url(../images/PLAuRKKrmX.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #FFF;

}
.about .info {
    margin-top: 50px;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.about .info:hover {
    box-shadow: 0 0 15px 1px #E8C43A;
    border-radius: 10px;
    transform: scale(0.9);
}
.about .info.deflit {
    margin-bottom: 50px;
}
.about .info img {
    width: 50px;
    height: 50px;
}
.about .info h3 {
    color: #E8C43A;
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: normal;
}
.about .info p {
    margin-top: 25px;
    color: #c3c0c0;
}
.about .info p.test {
    line-height: 3;
}
/* end about */
/* start products */
.products {
    padding: 60px 0;
    overflow: hidden;
}
.products h2 {
    color: #E8C43A;
    padding-bottom: 60px;
}
.products .product {
    padding-bottom: 80px;
    width: 100%;
}
.products .product h5 {
    color: #E8C43A;
    padding: 10px;
}
.products .product p {
    color: #333;
}
.products .product span {
    display: inline-block;
    padding-bottom: 20px;
}
.products .product button {
    padding: 5px 20px;
    background-color: #E8C43A;
    border: 1px solid #E8C43A;
}
.products .product button:focus{
    outline: none;
}
.products .product button a{
    color: #000;
    text-decoration: none;
}
.products img {
    width: 100%;
    box-shadow: 0 0 20px 3px #E8C43A;
    margin-bottom: 40px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.products .scrol:hover img {
    transform: scale(1.05);
}
/* end products */
/* start contact */
.contact {
    position: relative;
    height: 650px;
}
.contact iframe {
    width: 100%;
    margin-bottom: 0;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.contact .form {
    position: relative;
    background: #102938;
    color: #FFF;
    width: 300px;
    padding: 30px;
    top: 150px;
    right: 0px;
}
.contact .form h6{
    color: #E8C43A;
    margin-bottom: 20px;
}
.contact .form input{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    background-color: #283F4C;
    padding: 5px 10px;
    border: 0;
    color: #FFF;
    border-radius: 5px;
}
.contact .form textarea{
    display: block;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    background-color: #283F4C;
    padding: 5px 10px;
    border: 0;
    color: #FFF;
    border-radius: 5px;
}
.contact .form button{
    border: 0;
    padding: 8px 30px;
    background-color: #E8C43A;
    text-transform: capitalize;
}
.contact .form button a{
    color: #000;
    text-decoration: none;
}
.contact .form input:focus,
.contact .form textarea:focus,
.contact .form button:focus{
    outline: none;
}
/* end contact */
/* start footer */
.footer {
    background-color: #102938;
    color: #FFF;
    padding: 50px 0 0;
}
.footer .foot {
    margin-bottom: 50px;
}
.footer .foot .logo {
    width: 150px;
    height: 75px;
}
.footer .foot p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 2;
}
.footer .foot .icons {
    margin-right: 20px;
}
.footer .contact h4 {
    color: #E8C43A;
    margin-bottom: 30px;
}
.footer .contact span {
    line-height: 4.5;
    font-size: 10px;
    display: block;
}
.footer .contact span a{
    text-decoration: none;
    color: #FFF;
}
.footer .location h4 {
    color: #E8C43A;
    margin-bottom: 30px;
}
.footer .location img {
    display: inline-block;
    margin-right: 10px;
}
.footer .location p {
    font-size: 10px;
    line-height: 2;
}
.footer hr {
    border: 1px solid #E8C43A;
}
.copyright {
    margin-top: 0;
    padding-bottom: 20px;
}
/* end footer */
/* start loading screen */
.loading{
    background-color: #FFF;
    color: #000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.loading .load{
    position: relative;
    top: 40%;
}
.loading img{
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 2px 2px 20px 1px #E8C43A;
    -moz-box-shadow: 2px 2px 20px 1px #E8C43A;
    -o-box-shadow: 2px 2px 20px 1px #E8C43A;
    box-shadow: 2px 2px 20px 1px #E8C43A;
    object-fit: contain
}
.loading img:hover{
    transform: scale(1.1);
}
.loading p{
    margin-top: 50px;
}
/* end loading screen */